.card-body {
  min-height: 210px;
}

.card-img-top {
  min-height: 280px;
  max-height: 280px;
}

.product-title {
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .product-title {
    height: 72px;
  }

  .product-card {
    max-width: 96%;
  }
}

#headphone-wrapper {
  margin-bottom: 250px;
}
